*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.clearfix{
    display: block;
    clear: both;
}   
body{
    font-family: 'Fredoka', sans-serif;
    
}
.float-left{
    float: left;
}
.container{
    margin: 150px 400px;
    height: 1000px;
    width: 1000px;  
}

h1{
    color: deeppink;
   text-align: center;
}  
.testo-1{
    text-align: center;
    margin: 40px;
   
}
.colonna{
    float: left;
    margin: 40px 20px;
    line-height: 30px;
    color: white;
    height: 100px;
    width: 350px;
    background-color: rgba(23, 23, 23, 0.943);
   
}
img{
    height: 100px;
}